<?xml version="1.0" encoding="UTF-8"?>
<!--this is sample configuration, please modify as your wish -->

<configuration>
  <Properties>
    <Property name="log_path">./user/log/</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
    </Console>
    <RollingFile name="DailyRollingFile" fileName="${log_path}/output.log"
      filePattern="${log_path}/zcrTest%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" />
        <SizeBasedTriggeringPolicy size="10MB" />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" />
      <AppenderRef ref="DailyRollingFile" />
    </Root>
  </Loggers>
</configuration>