.error {
    font-family:verdana;
    color:red;
}

.header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

.nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}

.section {
    text-align:center;
    padding:5px;
}

.footer {
    color:red;
    clear:both;
    text-align:center;
    padding:25px; 
}